{% extends "base.html" %}
{% load static %}
{% block title %}грусть{% endblock %}
{% block body %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          первый пунктик
        </li>
        <li class="list-group-item">
          а ето второй
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        да ничего я не умею отстаньте
      </p>
    </article>
  </div>
  <article class="col-12 col-md-9">
    <div class="row" align="center">
      <video width="800" height="450" controls="controls" poster="{% static 'tech/bocchi.png' %}">
        <source src="{% static 'tech/bocchi.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      </video>
    </div>
  </article>
</div>
{% endblock %}